# Exercise

## Exercise on Loops:
1. Display Fibonacci series up to 10 terms.

In [1]:
def fibonacci(num):
    if num == 0:
        return 0
    elif num == 1:
        return 1
    else:
        return fibonacci(num - 1) + fibonacci(num - 2)

for i in range(0, 10):
    print(fibonacci(i))

0
1
1
2
3
5
8
13
21
34

2. Find the factorial of a given number. Ask the user to provide the number.

In [2]:
def factorial(num):
    fact = 1
    for i in range(1, num+1):
        fact = fact*i
    return fact

userInput = int(input("Enter the number you want factorial of: "))
print(factorial(userInput))

Enter the number you want factorial of: 6
720

3. Write a program to print a right angle triangle using the for loop.

In [3]:
def rightAngleTriangle(num):
    for i in range(0, num):
        print('*' * i)


rightAngleTriangle(10)

*
**
***
****
*****
******
*******
********
*********

## Exercise on Functions
Make a simple calculator that can add, subtract, multiply and divide two numbers using function.

In [4]:
def calculator(num1, num2):
    print(num1 + num2)
    print(num1 - num2)
    print(num1 * num2)
    print(num1 / num2)

calculator(10, 2)

12
8
20
5.0

## Exercise on List and Dictionaries

1. Remove the first duplicate element of a list

In [5]:
duplicated_list = [5, 2, 7, 3, 2, 5, 8, 9, 4, 7, 3]

def remove_duplicates(original_list):
    seen = set()
    result = []
    for item in original_list:
        if item not in seen:
            seen.add(item)
            result.append(item)
    return sorted(result)

print(remove_duplicates(duplicated_list))

[2, 3, 4, 5, 7, 8, 9]

2. Write a Python program to create a new dictionary by extracting the mentioned keys from the below dictionary.
sample_dict = { "name": "Anderson", "age": 35, "salary": 5000, "city": "London"}
keys = ["name", "salary"]
Expected Output: {'name': 'Anderson', 'salary': 5000}

In [6]:
sample_dict = { "name": "Anderson", "age": 35, "salary": 5000, "city": "London"}

print('name:' + sample_dict['name'])
print('salary:' + str(sample_dict['salary']))

name:Anderson
salary:5000

3. Write a Python program to convert two lists into a dictionary in a way that item from list_one is the key and item from list_two is the value.
list_one = ['one', 'two', 'three']
list_two = [1, 2, 3]
Expected Output: {'one': 1, 'two': 2, 'three': 3}

In [7]:
list_one = ['one', 'two', 'three']
list_two = [1, 2, 3]
dict = {}
for i in range(0, len(list_one)):
    dict.update({list_one[i]: list_two[i]})

print(dict)

{'one': 1, 'two': 2, 'three': 3}